algoliasearch==2.6.1
certifi==2020.11.8
cffi==1.14.6
chardet==3.0.4
deprecated==1.2.10
emoji==1.6.3
idna==2.10
pycparser==2.20
pygithub==1.55
pyjwt==2.1.0
pynacl==1.4.0
python-gitlab==3.1.1
requests==2.25.0
requests-toolbelt==0.9.1
six==1.16.0
urllib3==1.26.5
wrapt==1.12.1
