aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
algoliasearch==4.35.2
annotated-types==0.7.0
async-timeout==5.0.1
attrs==25.4.0
certifi==2024.7.4
cffi==2.0.0
charset-normalizer==3.2.0
cryptography==44.0.1
deprecated==1.2.10
emoji==2.10.1
frozenlist==1.8.0
idna==3.7
multidict==6.7.0
propcache==0.4.1
pycparser==2.20
pydantic==2.7.4
pydantic-core==2.18.4
pygithub==2.2.0
pyjwt[crypto]==2.4.0
pynacl==1.6.2
python-dateutil==2.9.0.post0
python-gitlab==4.4.0
requests==2.32.4
requests-toolbelt==1.0.0
six==1.16.0
typing-extensions==4.8.0
urllib3==2.6.3
wrapt==1.12.1
yarl==1.22.0
