algoliasearch==3.0.0
certifi==2023.7.22
cffi==1.14.6
charset-normalizer==3.2.0
cryptography==41.0.4
deprecated==1.2.10
emoji==2.8.0
idna==2.10
pycparser==2.20
pygithub==2.1.1
pyjwt[crypto]==2.4.0
pynacl==1.4.0
python-dateutil==2.8.2
python-gitlab==4.1.1
requests==2.31.0
requests-toolbelt==1.0.0
six==1.16.0
typing-extensions==4.8.0
urllib3==1.26.18
wrapt==1.12.1
